/* Importation de la police de caractères Google Poppins avec différents poids */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Réinitialisation des styles par défaut et définition de la police de caractères par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Styles pour le corps de la page */
body {
  background: rgb(255, 255, 255); /* Fond blanc */
  overflow: hidden; /* Masquage du défilement horizontal */
}

/* Styles pour la sélection de texte */
::selection {
  background: rgba(26, 123, 188, 0.3); /* Couleur de fond pour la sélection */
}

/* Styles pour le bouton de déconnexion */
.logout-button {
  background-color: #007BFF; /* Couleur de fond bleue */
  color: #fff; /* Couleur du texte blanc */
  padding: 8px 15px; /* Rembourrage du bouton */
  border: none; /* Pas de bordure */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur */
  font-weight: bold; /* Police en gras */
  font-size: 14px; /* Taille de la police */
  transition: background-color 0.3s ease; /* Transition de la couleur de fond */
}

/* Styles pour le conteneur principal */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrage horizontal et vertical */
  max-width: 400px; /* Largeur maximale du conteneur */
  width: 100%; /* Largeur de 100% */
}

/* Styles pour le wrapper qui contient le formulaire */
.wrapper {
  width: 100%;
  background: #fff; /* Fond blanc */
  border: 2px solid rgb(3, 3, 133); /* Bordure bleue de 2 pixels */
  box-shadow: 0px 4px 10px 7px rgba(0, 0, 0, 0.1); /* Ombre visible */

  border-radius: 10px; /* Coins arrondis */
}

/* Styles pour le titre du wrapper */
.wrapper .title {
  height: 90px; /* Hauteur du titre */
  background: rgb(3, 3, 133); /* Fond bleu foncé */
  border-radius: 5px 5px 0 0; /* Coins arrondis uniquement en haut */
  color: #fff; /* Couleur du texte blanc */
  font-size: 30px; /* Taille de la police */
  font-weight: 600; /* Police en gras */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles pour le formulaire à l'intérieur du wrapper */
.wrapper form {
  padding: 30px 25px 25px 25px; /* Rembourrage du formulaire */
}

/* Styles pour chaque ligne du formulaire */
.wrapper form .row {
  height: 45px; /* Hauteur de chaque ligne */
  margin-bottom: 15px; /* Marge en bas de chaque ligne */
  position: relative;
}

/* Styles pour les champs de saisie dans chaque ligne du formulaire */
.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none; /* Pas de contour lors de la mise au point */
  padding-left: 60px; /* Rembourrage à gauche pour l'icône */
  border-radius: 5px; /* Coins arrondis */
  border: 1px solid lightgrey; /* Bordure légèrement grise */
  font-size: 16px; /* Taille de la police */
  transition: all 0.3s ease; /* Transition fluide de tous les changements */

}
/* Styles pour le champ de saisie lorsqu'il est en focus */
form .row input:focus {
    border-color: rgb(3, 3, 133); /* Bordure bleue foncé lorsqu'en focus */
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25); /* Lueur intérieure légère */
  }
  
  /* Styles pour le texte de l'attribut placeholder du champ de saisie */
  form .row input::placeholder {
    color: #999; /* Couleur du texte gris clair pour le placeholder */
  }
  
  /* Styles pour l'icône à gauche de chaque champ de saisie */
  .wrapper form .row i {
    position: absolute;
    width: 47px; /* Largeur de l'icône */
    height: 100%;
    color: #fff; /* Couleur du texte blanc */
    font-size: 18px; /* Taille de la police */
    background: rgb(3, 3, 133); /* Fond bleu foncé */
    border: 1px solid rgb(3, 3, 133); /* Bordure bleue foncé */
    border-radius: 5px 0 0 5px; /* Coins arrondis uniquement à gauche */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Styles pour la section de récupération de mot de passe (commentée car non implémentée) */
  .wrapper form .pass {
    margin: -8px 0 20px 0;
  }
  
  .wrapper form .pass a {
    color: rgb(3, 3, 133); /* Couleur du texte bleu foncé */
    font-size: 17px; /* Taille de la police */
    text-decoration: none; /* Pas de soulignement */
  }
  
  .wrapper form .pass a:hover {
    text-decoration: underline; /* Soulignement au survol */
  }
  
  /* Styles pour le bouton de soumission du formulaire */
  .wrapper form .button input {
    color: #fff; /* Couleur du texte blanc */
    font-size: 20px; /* Taille de la police */
    font-weight: 500; /* Police en gras */
    padding-left: 0px; /* Rembourrage à gauche du texte du bouton */
    background: rgb(3, 3, 133); /* Fond bleu foncé */
    border: 1px solid rgb(3, 3, 133); /* Bordure bleue foncé */
    cursor: pointer; /* Curseur pointeur */
  }
  
  /* Styles pour le bouton de soumission du formulaire au survol */
  form .button input:hover {
    background: rgb(3, 3, 133); /* Fond bleu foncé au survol */
  }
  
  /* Styles pour le lien de redirection vers la page d'inscription */
  .wrapper form .signup-link {
    text-align: center; /* Centrage du texte */
    margin-top: 20px; /* Marge en haut du lien */
    font-size: 17px; /* Taille de la police */
  }
  
  /* Styles pour le lien de redirection au survol */
  .wrapper form .signup-link a {
    color: rgb(3, 3, 133); /* Couleur du texte bleu foncé */
    text-decoration: none; /* Pas de soulignement */
  }
  
  /* Styles pour le lien de redirection au survol avec soulignement */
  form .signup-link a:hover {
    text-decoration: underline; /* Soulignement au survol */
  }
  
  /* Styles pour le conteneur de l'icône d'œil pour afficher/masquer le mot de passe */
  .password-container {
    position: relative;
  }
  
  /* Styles pour l'icône d'œil pour afficher/masquer le mot de passe */
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajustement de la position à droite */
    transform: translateY(-50%); /* Centrage vertical */
    cursor: pointer; /* Curseur pointeur */
  }
  